body{
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#eeeeee;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    background-color:#949699;
    font-size: 4rem;  
    text-align: center;
    padding:10px;
    margin-bottom: 30px;
    border-bottom: 4px solid black;
}
h3{
    font-size:2.5rem ;
    text-align: center;
    background-color: rgba(163, 69, 69, 0.938);
    border: 2px solid black;
    padding:10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 5px rgba(78, 67, 67, 0.699); 
    border-radius: 15px;
}
h6{
    font-size: 1.2rem;
    text-align: center;
    background-color: rgb(163, 69, 69);
    border: 2px solid black;
    padding:10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 5px rgba(161, 78, 78, 0.699); 
    border-radius: 15px;
}
p{
    font-size: 2em;
    width: 70%;
    text-align: center;
    background-color: rgba(109, 110, 107, 0.664);
    box-shadow: 0 1px 2px 4px rgb(48, 46, 46);
    padding : 7px 2px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
}
footer{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom:0;
    font-size: .7em;
    background-color:#404040;
}
